@import url("http://fonts.cdnfonts.com/css/graphik");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Graphik", sans-serif;
  background-color: #fffdf5;

}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}

header {
  position: fixed;
  background-color: #fff;
  top: 0;
width: 100%;
height: 90px;
  box-shadow: 2px 5px 8px  rgba(88, 88, 88, 0.096);
  transition: all 0.3s ease-in-out;
}

header .header-logo .logo {
  width: 140px;
}

.rightButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.rightButton .thumbs {
  width: 55px;
  padding: 10px;
  background-color: #e7332b;
  border-radius: 50%;
  position: absolute;
  left: -32px;
  top: -7px;
}

.rightButton .headerBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  text-decoration: none;
  background-color: #e7332b;
  color: #fff;
}

.hero-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 90px 20px 0 20px;
}

.hero-image .lady1 {
  width: 337px;
}

.hero-caption {
  color: #1b1a20;
  text-align: center;
}

.hero-caption .hero-heading-small {
  font-size: 18px;
  color: #e7332b;
  font-weight: 400;
  text-align: center;
  line-height: 130%;
  margin-top: -30px;
}

.hero-caption .hero-heading-large {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  line-height: 110%;
  padding-top: 10px;
}

.hero-caption .line {
  width: 107px;
  margin-right: 30px;
  margin-bottom: 0px;
  float: right;
}

.hero-caption .hero-text-small {
  text-align: center;
  padding: 50px 0 50px;
  line-height: 130%;
}

.hero-caption .hero-btn {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #e7332b;
  font-size: 18px;
  color: #fff;
  border-radius: 20px;
}

.hero-image2 .male1 {
  display: none;
}

.section1-wire {
  float: right;
  margin-right: 4em;
}

.about-us {
  padding: 40px 20px;
  border-top: 1px solid rgba(128, 128, 128, 0.205);
  border-bottom: 1px solid rgba(128, 128, 128, 0.205);
  margin: 7em 0 3em 0;
  text-align: center;
}

.about-us .about-us-intro-large {
  font-size: 20px;
  color: #1b1a20;
  font-weight: 600;
  line-height: 130%;
}

.about-us-into .about-us-intro-small {
  font-size: 18px;
  color: #1b1a20;
  font-style: normal;
  padding-top: 30px;
  line-height: 130%;
}

.about-us-into .about-us-intro-small a {
  color: #43b97f;
}

/* WHY ZURI SECTION STARTS HERE */

.why-zuri {
  padding: 0 20px;
}

.why-zuri .section3-wire {
  margin-left: 50%;
}

.why-zuri-heading-small {
  font-size: 18px;
  color: #e7332b;
  line-height: 130%;
  letter-spacing: 0.00938em;
}

.why-zuri-heading-large {
  font-size: 24px;
  color: #1b1a20;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.00938em;
}

.why-zuri-boxes {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.why-zuri-boxes .box1 {
  background-color: #e7332b;
  padding: 58px 48px 63px 40px;
  box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
  border-radius: 18px;
  transition: transform 0.3s ease;
}

.why-zuri-boxes .box1:hover,
.box:hover {
  transform: translateY(-15px);
}

.why-zuri-boxes .box {
  background-color: #fff;
  padding: 58px 48px 63px 40px;
  box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
  border-radius: 18px;
  transition: transform 0.3s ease;
}

.box1 img,
.box img {
  display: flex;
  float: right;
  margin-right: -49px;
  margin-top: -58px;
  width: 42%;
}

#box1tag,
.boxtag {
  font-size: 44px;
  color: #fff;
  line-height: 130%;
  font-weight: 600;
}

.boxtag {
  color: #1b1a20;
}

.box1-subHeading,
.box-subHeading {
  font-size: 28px;
  color: #fff;
  line-height: 130%;
  padding-top: 20px;
  padding-bottom: 26px;
  font-weight: 600;
  width: 150px;
}

.box-subHeading {
  color: #1b1a20;
}

.box1 .content1,
content {
  font-size: 18px;
  color: #fff;
  line-height: 130%;
  font-weight: 400;
  width: auto;
}

.content {
  color: #1b1a20;
}

/* WE HELP YPU GET STARTED SECTION STARTS HERE */

#section4 {
  background-color: #e7332b;
  display: flex;
  flex-flow: column;
  margin-top: 70px;
}

.section4-caption {
  padding-top: 40px;
}

.section4-wire {
  margin-left: 50%;
}

.get-started-container {
  padding: 20px;
}
.get-started-heading-small {
  font-size: 18px;
  color: #fff;
  line-height: 130%;
}

.get-started-heading-large {
  font-size: 30px;
  line-height: 130%;
  font-weight: 700;
  color: #fff;
}

.get-started-content {
  font-size: 18px;
  line-height: 130%;
  padding-top: 35px;
  color: #fff;
  font-weight: 400;
  width: auto;
}

.section4-btn {
  padding: 8px 28px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 18px;
  border-radius: 71px;
  color: #e7332b;
  border: none;
}

.subButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.subButtons .teamwork,
.mentorship,
.practice,
.games {
  display: flex;
  align-items: center;
  padding: 11px 8px 11px 15px;
  border: 2px solid #fff;
  border-radius: 79px;
  background-color: transparent;
  color: #fff;
}
.teamwork img,
.mentorship img,
.practice img,
.games img {
  padding-right: 9px;
  width: 41px;
}

.section4-image {
  padding-top: 24px;
}

.section4-dot {
  padding: 15px;
  width: 80px;
}

/* PROGRAM SCOPE STARTS HERE */

.scope {
  padding: 70px 20px;
}

.scope .scope-heading-small {
  font-size: 18px;
  color: #e7332b;
  line-height: 130%;
  width: auto;
}

.scope .scope-heading-large {
  font-size: 24px;
  color: #1b1a20;
  font-weight: 600;
  line-height: 130%;
}

.scope .section5-wire {
  width: 145px;
}

.tracks {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  padding: 24px 0 80px 0;
}

.section5-boxes {
  padding: 40px;
  background: #fff;
  box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
  height: inherit;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 41px;
}

.track-heading {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
  line-height: 130%;
  font-style: normal;
}

.frontend-logo img,
.backend-logo img,
.devOps-logo img,
.fullstack-logo img,
.productDesign-logo,
.frameworks img {
  padding-right: 14px;
}

.track-content {
  font-weight: 400;
  line-height: 140%;
  padding-top: 40px;
  padding-bottom: 30px;
  color: #1b1a20;
  font-style: normal;
  font-size: 16px;
}

.section5-btn {
  padding: 10px 20px;
  background-color: #e7332b;
  font-size: 18px;
  border: none;
  text-decoration: none;
  border-radius: 71px;
  cursor: pointer;
  color: #fff;
}

.FAQs {
  padding: 0 20px;
}

.FAQs-container {
  border-top: 1px solid rgba(128, 128, 128, 0.205);
  border-bottom: 1px solid rgba(128, 128, 128, 0.205);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section7wire {
  padding-left: 30px;
}

.FAQs-headings .faqs-details-small {
  font-size: 18px;
  color: #e7332b;
  text-align: center;
  font-weight: 400;
  line-height: 130%;
}

.FAQs-headings .faqs-details-large {
  font-size: 24px;
  color: #1b1a20;
  font-weight: 600;
  line-height: 130%;
  padding-bottom: 50px;
}

.still-got-question {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.still-got-question p {
  line-height: 130%;
  padding-bottom: 2px;
}

.tweet-btn {
  padding: 10px 20px;
  background-color: #e7332b;
  color: #fff;
  text-decoration: none;
  border-radius: 71px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
}

.structure {
  padding: 40px 20px;
}

.structure .top-images {
  display: flex;
  justify-content: space-between;
}

.section8-wire {
  width: 69px;
  /* margin-left: 30px; */
}

.redStar {
  width: 40px;
}

.section8-heading-small {
  font-size: 18px;
  color: #e7332b;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
}

.section8-heading-large {
  font-size: 24px;
  color: #1b1a20;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
  padding-bottom: 20px;
}

.section8-sub-heading {
  padding-bottom: 60px;
  text-align: center;
  line-height: 130%;
  color: #333;
  font-weight: 400;
}

.progStructure {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* position: relative; */
}

.progStructure .fulltime,
.part-time {
  background-color: #1b1a20;
  border-radius: 65px;
  box-sizing: border-box;
  padding: 64px 48px;
  border: 1px slid #fff;
  color: #fff;
}

.structure-title .structure-mainTitle {
  font-size: 35px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.00938em;
  padding-bottom: 18px;
}
.structure-heading-small {
  line-height: 130%;
  line-height: 140%;
  font-size: 16px;
}

.program-heading {
  font-size: 18px;
  line-height: 140%;
  font-weight: 600;
  padding-top: 18px;
}

.part-time .available-program #frontEnd,
.backEnd {
  padding-bottom: 18px;
}

.program-content {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 140%;
  margin-left: 10px;
}

.hour {
  float: right;
  /* right: 10px; */
  width: 64px;
  margin-top: -80px;
}

.time {
  width: 112px;
  /* position: absolute; */
  right: 30px;
  margin-top: -90px;
}

.circle {
  display: flex;
  float: right;
  margin-right: -10px;
  margin-top: -68px;
  width: 135px;
}

.getStarted{
  padding: 60px 25px;
}

.getStarted-container{
  background-color: #e7332b;
border-radius: 28px;
}

.round{
  position: absolute;
  margin-top: 28px;
  left: 15%;
  width: 63px;
}